.redrom-key { color: #870000; font-family: 'Ubuntu Mono', monospace; }
.redrom-val { color: #00870f; font-family: 'Ubuntu Mono', monospace; }
.redrom-syn { color: #b08400; font-family: 'Ubuntu Mono', monospace; }
